canvas#background-canvas {
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
}

#title {
	font-size: 100px;
	color: white;
	padding-top: calc(calc(100vh / 2) - 200px);
	margin: 0;
}

#splash {
	color: var(--textcolor);
	font-size: 20px;
	width: fit-content;
	margin: auto;
	user-select: none;
}

#secret{
	font-size: 20px;
	display: none;
}

#secretButton{
	position: absolute;
	height: 50px;
	width: 50px;
	bottom: 0;
	left: 0;
}