/* here we got the sorting css */

.sorting {
    display: block;
    min-height: 2em;
    min-width: 100%;
}

#searchBar{
    color: white;
    height: 30px;
    width: 250px;
    border-radius: 8px;
    font-weight: bold;
    padding-left: 10px;
    background-color: rgb(30, 30, 30);
    border: 2px solid white;
}

:root {
    --color_all: rgb(30, 39, 46);
    --color_cad: #DBD56E;
    --color_coding: #53B3CB;
    --color_mechanical: #F08A4B;
    --color_web-dev: #B24C63;
    --white: #ffffff;
}

.sort_icons {
    width: 1em;
    display: inline-block;
    vertical-align: middle;
}
.buttons p{
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.btn p { 
  vertical-align: middle;
  display: inline-block;
}

.btn {
    float: left;
    padding: 4px 6px 4px 6px;
    margin: 0 5px 5px 0;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.sort_all {
    border: 2px solid var(--color_all);
    color: var(--color_all);
    background-color: var(--white);
    fill: var(--color_all);
}
.sort_all.active, .sort_all:hover {
    color: var(--white);
    background-color: var(--color_all);
    fill: var(--white);
}
.sort_cad {
    border: 2px solid var(--color_cad);
    color: var(--color_cad);
    background-color: var(--white);
    fill: var(--color_cad);
}
.sort_cad.active, .sort_cad:hover{
    color: var(--white);
    background-color: var(--color_cad);
    fill: var(--white);
}
.sort_coding {
    border: 2px solid var(--color_coding);
    color: var(--color_coding);
    background-color: var(--white);
    fill: var(--color_coding);
}
.sort_coding.active, .sort_coding:hover{
    color: var(--white);
    background-color: var(--color_coding);
    fill: var(--white);
}
.sort_mechanical {
    border: 2px solid var(--color_mechanical);
    color: var(--color_mechanical);
    background-color: var(--white);
    fill: var(--color_mechanical);
}
.sort_mechanical.active, .sort_mechanical:hover{
    color: var(--white);
    background-color: var(--color_mechanical);
    fill: var(--white);
}
.sort_web-dev {
    border: 2px solid var(--color_web-dev);
    color: var(--color_web-dev);
    background-color: var(--white);
    fill: var(--color_web-dev);
}
.sort_web-dev.active, .sort_web-dev:hover{
    color: var(--white);
    background-color: var(--color_web-dev);
    fill: var(--white);
}
.sort_music {
    border: 2px solid var(--color_music);
    color: var(--color_music);
    background-color: var(--white);
    fill: var(--color_music);
}
.sort_music.active, .sort_music:hover{
    color: var(--white);
    background-color: var(--color_music);
    fill: var(--white);
}

/* sport by select element */
.sort {
    float: right;
}

.sort label {
    font-size: 1em;
    font-weight: bold;
    color: var(--m-color);
}

#mySort {
    border-radius: 4px;
    border: 2px solid black;
    display: inline;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.4em 3.5em 0.4em 0.5em;
    margin-right: 1.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: right 1em top 50%;
    background-size: .65em auto;
}

/* mobile jazz */
@media screen and (max-width: 1010px) {
    .sort label {
        display: none;
    }
    .sort {
        margin-top: 0.5em;
        display: block;
        clear: both;
        float: left;
    }
}

/* the project icons */

.mechanical{
	background-color: var(--color_mechanical);
}
.coding{
	background-color: var(--color_coding);
}
.cad{
	background-color: var(--color_cad);
}
.web-dev{
	background-color: var(--color_web-dev);
}
