/* CONTACT */

* {
	text-decoration: none;
}

#contacts {
	line-height: 40px;
	font-size: 23px;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 800px;
	justify-content: center;
}

.contactLink {
	margin: 20px;
	border: 3px solid white;
	text-align: center;
	font-weight: bolder;
	width: 225px;
	transition: 0.5s;
	padding: .21em 0px;
	color: white;
}

.contactLink:hover {
	background-color: white;
	transition: 0.5s;
	color: black;
}