canvas {
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
}

/* .title {
	width: 100%;
	text-align: center;
} */

#title {
	font-size: 100px;
	color: var(--textcolor);
	padding-top: calc(calc(100vh / 2) - 200px);
	margin: 0;
}

#subtitle {
	color: var(--textcolor);
	font-size: 20px;
	width: fit-content;
	margin: auto;
	user-select: none;
}